
/* 
    Created on : Feb 16, 2017, 7:51:31 PM
    Author     : kenziemclouth
*/

/*
    This snould go on each page for font:
            <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
*/

* {
    margin: 0;
    padding: 0;
    background-color: white;
}


body {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-family: 'Catamaran', sans-serif;
}


.title-top {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    float: left;
    border-bottom: 3px solid midnightblue;
}

.title-top h1{
    float: left;
    width: 30%;
    text-align: left;
    padding-bottom: 5px;
    font-size: 75px;
    color: midnightblue;
    text-decoration: bold;
}

.title-top h2{
    float: right;
    width: 8%;
    text-align: center;
    padding-top: 30px;
    margin-right: -0.5%;
    font-size: 20px;
    color: royalblue;
}

.title-top h3{
    float: right;
    width: 4%;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    color: royalblue;
}

.title-top h4{
    float: right;
    width: 20%;
    text-align: center;
    padding-top: 30px;
    margin-right: -0.5%;
    font-size: 20px;
    color: royalblue;
}


.title-top a.links{
    text-decoration: none;
}

.title-top a:hover{
    color: midnightblue;
}

.title-top a.title{
    text-decoration: none;
    line-height: 80px;
}

.middle {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 15%;

}


/*******************

    HOME PAGE

********************/

.multiflight{
    width: 100%;
    clear:left;
}


.flightBox {
    float: left;
    width: 15%;
    background-color: royalblue;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left:20px;
    padding-right: 10px;
    margin: 2.5%;
}

.flightBox p{
    font-size: 25px;
    text-align: center;
    background-color: royalblue;
    width:100%;
    color: white;
}

.flightBox input{
    background-color: white;
    width: 90%;
    height: 24px;
    float: left;
    font-size: 18px;
}

.flightBox label{
    font-size: 16px;
    color: white;
    background-color: royalblue;
}

.search-button{
    width: 15%;
    float:left;
    margin-left: 5%;
    margin-top: 2%;
    height: 45px;
    font-family: 'Catamaran', sans-serif;

}

.search-button button{
    text-align: center;
    text-decoration: none;
    float:left;
    background-color: midnightblue;
    border: none;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 22px;
    margin: 1%;
}

.search-button button:hover{
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border:none;
}




/*******************

    ADMIN

********************/

.admin-toolbar {
    font-family: 'Catamaran', sans-serif;
    padding-top: 80px;
    padding-bottom: 5px;
    width: 100%;
    color: midnightblue;
    text-decoration: bold;
    font-size: 22px;
}

.admin-toolbar ul {
    width: 100%;
    background-color: silver;
}

.admin-toolbar li {
    font-family: 'Catamaran', sans-serif;
    padding-top: 1%;
    float: left;
    display:inline;
    text-align: center;
    color: midnightblue;
    width: 12%;
    border-right:3px solid white;
}

.admin-toolbar li a {
    text-decoration: none;
    color: midnightblue;
    display: block;
    padding: 8px;
}

/* Change the link color to #111 (black) on hover */
.admin-toolbar li a:hover {
    background-color: royalblue;
    color: white;
}

.active {
    background-color: silver;
}


.employee-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    float: left;
    padding:1%;
}

.employee-table h2 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: midnightblue;
    border-bottom: 1px solid midnightblue;
}

.employee-table table {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Catamaran', sans-serif;
}

.employee-table th {
    width: 20%;
    color: royalblue;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
}

.employee-table td {
    color: midnightblue;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.form-block{
    
    width: 90%;
    float: left;
    padding: 3%;
    
}

.form-block h2 {
    width: 100%;
    float: left;
    font-size: 26px;
    color: midnightblue;
}

.success {
    font-size: 20px;
    color: royalblue;
    float: left;
    margin-left: 35%;
}

.failure {
    font-size: 20px;
    color: red;
    float: left;
    margin-left: 35%;
}


/*********************
    User Profile
*********************/

.user-toolbar {
    font-family: 'Catamaran', sans-serif;
    padding-top: 80px;
    padding-bottom: 5px;
    width: 100%;
    color: midnightblue;
    text-decoration: bold;
    font-size: 20px;
}

.user-toolbar ul {
    width: 100%;
    background-color: silver;
}

.user-toolbar li {
    font-family: 'Catamaran', sans-serif;
    padding-top: 1%;
    float: left;
    display:inline;
    text-align: center;
    color: midnightblue;
    width: 20%;
    border-right:3px solid white;
}

.user-toolbar li a {
    text-decoration: none;
    color: midnightblue;
    display: block;
    padding: 8px;
}

/* Change the link color to #111 (black) on hover */
.user-toolbar li a:hover {
    background-color: royalblue;
    color: white;
}

.validate_account_bar {
    font-family: 'Catamaran', sans-serif;
    width: 100%;
}

.validate_account_bar h10{
    width: 50%;
    float: left;
    margin-left: 25%;
    font-size: 15px;
    color: midnightblue;
    text-align: center;
}

/*********************
    Booking Confirmation
*********************/

.confirmTable {
    td {
        padding: 20px;
    }
}



